.Attachment {
    display: block;
    width: 100%;

    .attachment-header {
        display: flex;
    }

    .attachment-plus-btn {
        margin-left: auto;
    }

    .attachment-content {
        padding-bottom: 20px;
        display: flex;
        overflow-x: auto;
    }

    .attachment-plus-icon {
        color: rgba(var(--center-channel-color-rgb), 0.56);
        cursor: pointer;
    }

    .attachment-title {
        font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', 'Pretendard Variable', Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }
}
